services:
  moneymana_db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    container_name: ${CONTAINER_NAME_DB}
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "${DB_PORT}:3306"
    networks:
      - ${NETWORK}
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  moneymana_web:
    container_name: ${CONTAINER_NAME_WEB}
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      moneymana_db:
        condition: service_healthy
    volumes:
      - ./src:/var/www/html
    ports:
      - "${WEB_PORT}:80"
    environment:
      CONTAINER_NAME_DB: ${CONTAINER_NAME_DB}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - ${NETWORK}

volumes:
  db_data:

networks:
  moneymana_network:
    driver: bridge
